@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Message"]</h2>


<p>Use this area to provide additional information.</p>


<address>
    <strong>More information: </strong><a href = "http://educandoweb.com.br">Educandoweb.com.br</a>
</address>

<address>
    <strong>@ViewData["email"]</strong>
</address>